.burger {
  flex-direction: column;
  justify-content: center;
  width: 30px;
  cursor: pointer;
  height: auto;

  &:hover .burger__line::before {
    transform: translateX(130%);
  }

  &:hover .burger__line::after {
    transform: translateX(130%);
  }

  &__line {
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 99px;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -130%;
      height: 3px;
      width: 100%;
      border-radius: 99px;
      background-color: $textWhite;
      transition: all ease .3s;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 3px;
      width: 100%;
      border-radius: 99px;
      background-color: $textWhite;
      transition: all ease .3s;
    }

    &_top {
      transition: transform .3s, background-color .6s, top .3s .3s;
      top: 0;
    }

    &_middle {
      margin: 5px 0;
      width: 80%;
      transition-delay: .3s;

      &::before,
      &::after {
        transition-delay: 75ms;
      }
    }

    &_bottom {
      bottom: 0;
      transition: transform .3s, background-color .6s, bottom .3s .3s;
      margin-bottom: 0;

      &::before,
      &::after {
        transition-delay: 150ms;
      }
    }
  }

  &_active {

    .burger__line {
      background-color: $textWhite;

      &::after,
      &::before {
        opacity: 0;
      }

      &_top {
        transition: top .3s, background-color 0s, transform .3s .3s;
        transform: rotate(45deg);
        top: 8px;
      }

      &_middle {
        opacity: 0;
      }

      &_bottom {
        transform: rotate(-45deg);
        bottom: 8px;
        transition: bottom .3s, background-color 0s, transform .3s .3s;
      }
    }
  }
}
